@tailwind base;
@tailwind components;
@tailwind utilities;

@import './utils/index.scss';
@import './core/index.scss';

@import 'swiper/css';
@import 'swiper/css/controller';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 1rem;
  transition: background-color 500ms;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-hover);
}
