.h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
}

.h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.h3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.h4 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.h6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.caption {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
